* {
    padding: 2;
    margin: 0;


}

body {
    background-color: azure;
    display: flex;
    flex-direction: row    ; /* Asegura que el contenido principal esté apilado verticalmente */
}

.menu {
    background-color: rgb(171, 109, 29);
    flex: 0 0 20%;
    padding: 20px;
    box-sizing: border-box;
    height: 60%;  /* Asegura que el menú ocupe toda la altura de la pantalla */
}
.menu a {
    display: block;
    padding: 20px 100px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    background-color: #a0a0a0;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
}

.menu a:hover {
    background-color: #ccc;
}

.contenido {
    display: flex;
    background-color: #4a90e2;  /* Un tono más suave de azul */
    color: #fff;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: row;
    padding: 30px;
    flex: 1 0;
    height: 40;
    text-align: center;

}

iframe {

    width: 100%;
    height: 100%;
}
